<body background="#0187ce">
    <div class="content" align="justify">
        <h2>QLUE</h2>
        <img src="image/logo_qlue.png" width="100%" alt="Logo Qlue">
        <h3>Tentang : </h3>

<p>Qlue (kependekan dari "keluhan") adalah aplikasi media sosial yang memberikan kemudahan bagi pengguna untuk mengeluhkan masalah utama pada lingkungannya dan menangkap momen sosial penting lain disekitarnya menggunakan foto dan lokasi.</p>

<p>Misi Qlue adalah untuk mengorganisir data keluhan masyarakat untuk diteruskan ke pihak yg sanggup untuk menindak lanjuti. Dimana membuat kota / negara tersebut menjadi tempat yang lebih layak huni. Qlue memberikan kemampuan pengguna untuk mengunggah momen dengan foto & stickers yang sudah disiapkan. </p>

<p>QLUE menjalin kolaborasi dengan Pemerintah setempat dan perusahaan-perusahaan swasta untuk membantu mengatasi keluhan masyarakat demi memaksimalkan kenyamanan masyarakat kota - www.qlue.id/</p>

</div>
</body>