<h2>QLUE</h2>
<img src="image/logo_qlue.png" width="100%" alt="Logo Qlue">
<h3>EULA : </h3>

<p><b>Qlue</b> App End User License Agreement</p>

<p>This End User License Agreement (&ldquo;Agreement&rdquo;) is between you and Qlue and governs use
    of this app made available through the Google App Store. By installing the Qlue App, you agree
    to be bound by this Agreement and understand that there is no tolerance for objectionable
    content. If you do not agree with the terms and conditions of this Agreement, you are not
    entitled to use the Qlue App.</p>

<p>In order to ensure Qlue provides the best experience possible for everyone, we strongly enforce a
    no tolerance policy for objectionable content. </p>

<p>1. Parties This Agreement is between you and Qlue only, and not Google, Inc. (&ldquo;Google&rdquo;).
    Notwithstanding the foregoing, you acknowledge that Google and its subsidiaries are third party
    beneficiaries of this Agreement and Google has the right to enforce this Agreement against you.
    Qlue, not Google, is solely responsible for the Qlue App and its content.</p>

<p>2. Privacy Qlue may collect and use information about your usage of the Qlue App, including
    certain types of information from and about your device. Qlue may use this information, as long
    as it is in a form that does not personally identify you, to measure the use and performance of
    the Qlue App.</p>

<p>3. Limited License Qlue grants you a limited, non-exclusive, non-transferable, revocable
    license to use the Qlue App for your personal, non-commercial purposes. You may only use the
    Qlue App on Google devices that you own or control and as permitted by the App Store Terms of
    Service.</p>

<p>4. Objectionable Content Policy Content may not be submitted to Qlue, who will moderate all
    content and ultimately decide whether or not to post a submission to the extent such content
    includes, is in conjunction with, or alongside any, Objectionable Content. Objectionable Content
    includes, but is not limited to: (i) sexually explicit materials; (ii) obscene, defamatory,
    libelous, slanderous, violent and/or unlawful content or profanity; (iii) content that infringes
    upon the rights of any third party, including copyright, trademark, privacy, publicity or other
    personal or proprietary right, or that is deceptive or fraudulent; (iv) content that promotes
    the use or sale of illegal or regulated substances, tobacco products, ammunition and/or
    firearms; and (v) gambling, including without limitation, any online casino, sports books, bingo
    or poker; (vi) content that is sexually explicit or pornographic, exploits or presents minors in
    a sexual way, or promotes adult sexual services; (vii) content that bullies or harasses other
    user; (viii) content that is irrelevant with the category; will be deleted, and you will be
    banned by moderator. (ix) user should report inappropriate content; (x) moderators are obligated
    to deleted inappropriate contents within 24 hours and blocked the user.</p>

<p>5. Warranty Qlue disclaims all warranties about the Qlue App to the fullest extent
    permitted by law. To the extent any warranty exists under law that cannot be disclaimed, Qlue,
    not Google, shall be solely responsible for such warranty.</p>

<p>6. Maintenance and Support Qlue does provide minimal maintenance or support for it but not
    to the extent that any maintenance or support is required by applicable law, Qlue, not Google,
    shall be obligated to furnish any such maintenance or support.</p>

<p>7. Product Claims Qlue, not Google, is responsible for addressing any claims by you
    relating to the Qlue App or use of it, including, but not limited to: (i) any product liability
    claim; (ii) any claim that the Qlue App fails to conform to any applicable legal or regulatory
    requirement; and (iii) any claim arising under consumer protection or similar legislation.
    Nothing in this Agreement shall be deemed an admission that you may have such claims.</p>

<p>8. Third Party Intellectual Property Claims Qlue shall not be obligated to indemnify or
    defend you with respect to any third party claim arising out or relating to the Qlue App. To the
    extent Qlue is required to provide indemnification by applicable law, Qlue, not Google, shall be
    solely responsible for the investigation, defense, settlement and discharge of any claim that
    the Qlue App or your use of it infringes any third party intellectual property right.</p>